{% extends "base.html" %}
{% load static i18n index %}

{% block title %}Facebook Friendcheck{% endblock %}

{% block content %}

<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-9">
      <h1>{% trans 'Facebook Friend Ranks' %}</h1>
    </div>
    <div class="col-sm-3">
      <a href="{% url 'facebook:add_datapoint' %}" type="button" class="btn btn-success btn-block">
        {% trans 'Add New Data' %}
      </a>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs" id="facebookTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="home" aria-selected="true">
        <h6>{% trans 'Friends' %}</h6>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="comparison-tab" data-toggle="tab" href="#comparison-chart" role="tab" aria-controls="home" aria-selected="false">
        <h6>{% trans 'Comparison' %}</h6>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="home" aria-selected="false">
        <h6>{% trans 'Help' %}</h6>
      </a>
    </li>

    <!--li class="nav-item">
      <a class="nav-link" id="chart-tab" data-toggle="tab" href="#chart-movement-50" role="tab" aria-controls="home" aria-selected="false">
        {% trans 'Top 5 Movement' %}
      </a>
    </li-->

  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="friends" role="tabpanel" aria-labelledby="friends-tab">
      <!--h3>{% trans 'Friends' %}</h3-->
      <table class="table table-striped" data-toggle="table" data-search="true">
        <thead>
          <tr>
            <th></th>
            <th colspan="2"><center>{% trans 'Movement' %}</center></th>
            <th colspan="2"><center>{% trans 'Social Signals' %}</center></th>
            <th colspan="3"></th>
            <!--th></th>
            <th></th>
            <th></th-->
          </tr>

          <tr>
            <th scope="col" data-sortable="true">{% trans 'Rank' %}</th>
            <th scope="col" data-sortable="true">{% trans 'Total' %}</th>
            <th scope="col" data-sortable="true">{% trans 'Current' %}</th>
            <th scope="col" data-sortable="true">{% trans 'Total' %}</th>
            <th scope="col" data-sortable="true">{% trans 'Current' %}</th>
            <th scope="col">{% trans 'Picture' %}</th>
            <th scope="col">{% trans 'Name' %}</th>
            <!--th scope="col">{% trans 'Profile Link' %}</th-->
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for friend in friend_list %}
            <tr>
              <td scope="row"><b>{{ friend.last_rank|default_if_none:"--" }}</b></td>
              <td>{{ friend.total_movement|default_if_none:"--" }}</td>
              <td>{{ friend.get_current_movement|default_if_none:"--" }}</td>
              <td>{{ friend.total_social_signals|default_if_none:"--" }}</td>
              <td>{{ friend.get_current_social_signals|default_if_none:"--" }}</td>
              <td>
                {% if friend.avatar %}
                    <img src="{{ MEDIA_URL }}{{ friend.avatar }}" alt="{{ friend.name }}" class="img-rounded img-responsive center-block" style="max-width:120px;">
                {% endif %}
              </td>
              <td>{{ friend|default_if_none:"--" }}</td>
              <!--td>{{ friend.get_facebook_id_url }}</td-->
              <td>
                <button type="button" class="btn btn-copy btn-light btn-block" data-clipboard-text="{{ friend.get_facebook_id_url }}">
                  {% trans 'Copy Profile Link' %}
                </button>
                <a type="button" class="btn btn-light btn-block" href="{{ friend.get_absolute_url }}">
                  {% trans 'Details' %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="howto-tab">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {% blocktrans %}
              <h5>How to interpret the Data:</h5>
              <p>After you uploaded a datapoint containing your logged in facebook page,
              the deep statistical analysis of your page begins. The way facebook
              generates your site we can make inferences on how facebook sees your relationships
              with some of your friends.</p>
              <p>When the deep analysis is complete you have a list with your facebook friends that, according
              to facebook, showed interest in your profile, posts, pictures and emitted other social signals.
              The result includes your signals and those of your friends.</p>
              <p>Three key numbers are important for you to get to know your friends better:
              Rank, Movement and Social Signals - all are sortable in the table.</p>
              <p>The highest rank (that is #1) indicates that you and that friend have a strong relation currently.
              A friend ranging at the lower end of the hierarchy indicates a somewhat lower interest.</p>
              <p>The movement number indicates how much your friend moved up or down the rank latter
              over the timeperiod you have added datapoints. It is positive in an net upward
              movement and negative when your friend is dropping out of your 'inner circle'.</p>
              <p>The social signals number indicates the amount and importance of social signals that
              happened between you and your friends. Different social signal are weighted more
              than others. The higher the value, the stronger the social impact or your social relation
              with that friend. If it is negative, it might also mean, that your friend is just more
              interested in someone else right now.</p>
              <p>Always make sure to check the friends detail page, where you see the timeline chart of rank
              movement of your friends.</p>
              <p>If you find a friend jumping from Rank 200 to Rank 10 in one day, you know something
              is going on. What is going on, only you can know.</p>
              <p>Over time, if you add more datapoints, you can see how the friendship develops, your
              friends moving around the chart, and our predictions gets ever more accurate.</p>
              <p>Have fun playing around and see for yourself if facebook knows your friends as good as you do.</p>
            {% endblocktrans %}
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="comparison-chart" role="tabpanel" aria-labelledby="chart-tab">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
      <h3>{% trans 'Comparison Chart' %}</h3>
      <canvas id="comparisonChart"></canvas>
      <script>
          var ctx = document.getElementById("comparisonChart");
          var comparisonChart = new Chart(ctx, {
            type: 'line',
            data: {
              datasets: [
              {% for friend in comparison_list %}
                {
                  label: '{{friend}} Rank',
                  fill: false,
                  lineTension: 0,
                  borderColor: '{{ friend.color }}',
                  backgroundColor: '{{ friend.color }}',
                  pointRadius: 9,
                  pointHoverRadius: 12,
                  //data: {{ friend.get_rank_timeseries.ranks|safe }},
                  data: [
                    {% with friend.get_rank_timeseries as data %}
                    {% for timestamp in data.timestamps %}
                      {
                        x: '{{ timestamp }}',
                        y: {{ data.ranks|index:forloop.counter0 }}
                      },
                    {% endfor %}
                    {% endwith %}
                  ],
                },
              {% endfor %}
              ]
            },
            options: {
              fill: false,
              responsive: true,
              title: {
                display: true,
                text: 'Comparison Rank Timeseries'
              },
              legend: {
                display: false,
              },
              scales: {
                  xAxes: [{
                      type: 'time',
                      display: true,
                      distribution: 'linear', //series
                      scaleLabel: {
                          display: true,
                          labelString: "Date",
                      },
                      time: {
                        displayFormats: {
                          hour: 'YYYY MMM DD hA'
                        }
                      },
                  }],
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          reverse:true,
                      },
                      display: true,
                      scaleLabel: {
                          display: true,
                          labelString: "Rank",
                      }
                  }]
                }
              }
          });
      </script>

      {% if debug %}
      <div class="row">
        <div class="col-sm-12">
          {% for friend in comparison_list %}
            {{ friend }}<br/>
            {% with friend.get_rank_timeseries as data %}
            {% for timestamp in data.timestamps %}
              {{ timestamp }} :: {{ data.ranks|index:forloop.counter0 }}
            {% endfor %}
            {% endwith %}
            <br/>
          {% endfor %}
        </div>
      </div>
      {% endif %}


    </div>


    <!--div class="tab-pane fade" id="chart-movement-50" role="tabpanel" aria-labelledby="chart-tab">
      <h3>{% trans 'Top 5 Movement' %}</h3>
      <canvas id="top5MovementChart"></canvas>
    </div-->

  </div>
</div>



{% endblock content %}
