{% extends "base.html" %}
{% load static i18n %}

{% block title %}Facebook Friendcheck{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Check your Facebook Friends</h1>
    </div>
    <div class="col-sm-3">
      <a href="{% url 'facebook:add_datapoint' %}" class="">
        <h4 class="">{% trans 'Add New Data' %}</h4>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs" id="facebookTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="home" aria-selected="true">
        {% trans 'Friends' %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="chart-tab" data-toggle="tab" href="#chart" role="tab" aria-controls="home" aria-selected="false">
        {% trans 'Chart' %}
      </a>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="friends" role="tabpanel" aria-labelledby="friends-tab">
      <h3>{% trans 'Friends' %}</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{% trans 'Current Rank' %}</th>
            <th scope="col">{% trans 'Picture' %}</th>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Notes' %}</th>
            <th scope="col">{% trans 'Profile Link' %}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for friend in friend_list %}
            <tr>
              <th scope="row">{{ friend.last_rank }}</th>
              <td>
                {% if friend.avatar %}
                    <img src="{{ MEDIA_URL }}{{ friend.avatar }}" alt="{{ friend.name }}" class="img-rounded img-responsive center-block" style="max-width:120px;">
                {% endif %}
              </td>
              <td>{{ friend.name|default_if_none:"--" }}</td>
              <td>{{ friend.notes|default_if_none:"--" }}</td>
              <td id="fburl-{{friend.last_rank}}">{{ friend.get_facebook_id_url }}</td>
              <td>
                <button type="button" class="btn btn-light btn-block" onclick="">
                  {% trans 'Copy Link' %}
                </button>
                <a type="button" class="btn btn-light btn-block" href="{{ friend.get_absolute_url }}">
                  {% trans 'Details' %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">
      <h3>{% trans 'Chart' %}</h3>
    </div>
  </div>
</div>

{% endblock content %}
