{% extends "base.html" %}
{% load static i18n %}

{% block title %}Subscription: {{ request.user.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>{% trans "Your Subscription" %}:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <p>
        {% trans "Your Subscription is valid until " %}
        {{ request.user.subscription_valid_until }}
      </p>
    </div>
    <div class="col-sm-3">
      <center>
        <h3>{% trans "Extend 30 days" %}</h3>
        {{ paypal30daysform.render }}
      </center>
    </div>
  </div>

</div>



{% endblock content %}
