{% extends "base.html" %}
{% load static i18n %}

{% block title %}Crush On Me{% endblock %}

{% block content %}
<div class="container-fluid background-cover-image"
    style="background: url('{% static 'images/pages/crush-on-you.jpg' %}') no-repeat center center fixed; margin-top:-100px;">
  <div class="row spacing-300"></div>
  <div class="row align-items-center">
    <div class="col-sm-12 text-blue">
      <center>
        <h5>{% trans 'We have the tool you where waiting for a long time' %}</h5>
        <h1><strong>{% trans 'KNOW WHO LIKES YOU' %}</strong></h1>
      </center>
    </div>
  </div>
  <div class="row spacing-300 align-items-center">
    <div class="col-sm-9"></div>
    <div class="col-sm-3">
      <a href="#" type="button" class="btn btn-success btn-block">
        {% trans 'Yes, I want to know!' %}
      </a>
    </div>
  </div>
</div>

<div class="container-fluid background-cover-image"
    style="background: url('{% static 'images/pages/secret-admirer.jpg' %}') no-repeat center center fixed;">
  <div class="row spacing-300"></div>
  <div class="row align-items-center">
    <div class="col-sm-12">
      <center>
        <h5>{% trans 'Maybe you have a friend or a lover constantly admiring your photos.' %}</h5>
        <h2><strong>{% trans 'Should you not KNOW?' %}</strong></h2>
      </center>
    </div>
  </div>
  <div class="row spacing-300 align-items-center">
    <div class="col-sm-9"></div>
    <div class="col-sm-3">
      <a href="#" type="button" class="btn btn-success btn-block">
        {% trans 'Yes, I want to know!' %}
      </a>
    </div>
  </div>
</div>

<div class="container-fluid background-cover-image"
    style="background: url('{% static 'images/pages/gossip-know-your-friends.jpg' %}') no-repeat center center fixed;">
  <div class="row spacing-300"></div>
  <div class="row align-items-center">
    <div class="col-sm-12 text-white">
      <center>
        <h5>{% trans 'Maybe you know some folk that are talking behind your back while browsing your profile.' %}</h5>
        <h2><strong>{% trans 'Should you not KNOW?' %}</strong></h2>
      </center>
    </div>
  </div>
  <div class="row spacing-300 align-items-center">
    <div class="col-sm-9"></div>
    <div class="col-sm-3">
      <a href="#" type="button" class="btn btn-success btn-block">
        {% trans 'Yes, I want to know!' %}
      </a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row spacing-50"></div>
  <div class="jumbotron">
    <h3>{% trans 'Because the good news is: You really can!' %}</h3>
    <hr class="my-4">
    <div class="row">
      <div class="col-sm-6">
        <p class="lead">{% trans 'We think you should know who your real friends are. And now you are incredible lucky!' %}</p>
      </div>
      <div class="col-sm-6">
        <a href="#" type="button" class="btn btn-success btn-block">
          {% trans 'Sign Up Now and try our amazing service for FREE!' %}
        </a>
      </div>
    </div>
  </div>
  <div class="row spacing-200"></div>
</div>

{% endblock content %}
